
<div class="container parasite">
<h2>TravelPin </h2>
    <h4><%flash.each do |name, msg|%> </h4>
    <%= msg %>
    <%end %>
    <div>
        <% if current_user %>
        <h3> you are logged in currently <h3>
        <h2> <%=link_to 'log-out', session_path('current'), method: "delete" %></h2>
    <% else %>
        <h3><%=link_to 'log in ', "/session/new" %></h3>
        <h3><%=link_to 'sign up', "/users/new" %></h3>
    <% end %>

    </div>
</div>



