.hello {
     width: 500px;
     color: lightcoral;
     background: lightgreen;
     height: 300px;
     margin: 0 auto;
     text-align: center;
     justify-items: center;
     display: grid;
     background-image: url('bg-01.jpg');
 }

 .parasite {
    background-image: url('bg-01.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }
